# Migrate with: terraform init -backend-config=backend.hcl -migrate-state

bucket         = "<your bucket name>"
key            = "n8n/terraform.tfstate"
region         = "eu-west-1"
profile        = "your-profile"
dynamodb_table = "terraform-locks"
encrypt        = true

